body{
    background-color: mediumaquamarine;
}

fieldset{ 
    background-color: white;
    position: relative;
    overflow: none;
    margin: 5%;
}

.wachtwoord{ 
    display: block;
    margin: 0 auto;
    width: 50%;
}

.options{
    text-align: center;
}

.options_columns{
    display: inline-block;
    vertical-align: middle;
    text-align: left;
    padding: 5% 5%;
}

.output{
    text-align: center;
}

button{
    background-color: red;
    color: white;
    font-weight: bold;
    padding: 2% 2%;
}

.entropie{
    border: none;
    display: block;
    margin: 0 auto;
    width: 50%;
}
